
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
/>

	<div class="container text-center" >
		<!--Footer_container-->
		<div class="footer bg-primary text-white text-center" id="main-footer">
        <div id="main-footer">
            <div class="row">
                <div class="col-3  " style="font-size: 15px;">
                    Copyright © 2022.  Gel Gör Beni Ekibi - Tüm Hakları Saklıdır.
                </div>
                <div class="col-6 font-weight-bold" style="font-size: 25px;">
                    <p>-Gel Gör Beni-</p>
                </div>
                <div class="col-3 " style="font-size: 25px;">
                        <i class="fab fa-facebook ms-2 me-5 "></i>
                          <i class="fab fa-twitter me-5"></i>
                          <i class="fab fa-youtube me-5"></i>
                          <i class="fab fa-instagram "></i>
                  </div>
            </div>


          </div>
		</div>
	</div>
