<p class="bg-secondary text-white" style="height:100vh; ">
  Proje İsmi: Gel Gör Beni
  <br>
  <br>
  Proje Dersi: Veri Tabani Yonetim Sistemleri
  <br>
  <br>
  Dersin Hocaları: Doç.Dr Özal Yıldırım - Arş.Gör Alev Kaya
  <br>
  <br>
  Proje Ekibi ve Roller :
    Hasan Helvalı - 195541049 - Scrum Master , Aktif Geliştirici
    <br>
    Emrah Yüksel - 205541063 - Proje Diagramları ve Planlamadan Sorumlu Kisi , Pasif Geliştirici
    <br>
    Emre Dinç - 205542011 - Veri Tabanindan Sorumlu Kisi - Pasif Geliştirici
    <br>
    Batuhan Eymen Çorlu - 205541043 - Projenin Butun Kaynak Bilgilerini Toplama , Pasif Geliştirici
    <br>
    <br>
  Projenin Amacı Nedir:
    Projemizin amacı son kullanıcının seyahat ettiği yerlerde gerek konumuna dayalı, gerekse kendi istegiyle bir şehir
    bilgisi girerek, girilen şehirdeki en çok ziyaret edilen 5 mekanı listelemektir. Bu 5 mekan icerisinde gezdim,begendim veya
    konumunu gormek ıstıyorum seklınde etkilesimleride uygulamada girebilir. Bu etkilesimler sonucunda gezilen yerler, begenilen yerleri
    son kullanıcı gorulebilir.
    <br>
    <br>
  Site Kullanımı:
    Oncelıkle kullanıcı giris yapmak zorundadır. Giris yapmadan uygulamada herhangi bir isleme izin verilmez.
    Giris yapıldıktan sonra bir konum bilgisi girilmelidir. Bu konum bilgisi kullanıcının kendi girisiyle veya GeoLocationWebApi yardımıyla Konum Al butonundan yapılabilir.
    Ardından MekanListele butonuna basılır. Bu butona basıldıgı anda alınan konuma gore veritabanından sorgu gerceklestırılır. Bulunulan sehir lokasyonundakı en
    cok gezılen 5 mekan listelenir. Kullanıcı bu mekanları gezıldi, favori olarak ısaretleyebilir. Mekanların harita uzerındekı konumlarını gorebilir.
    <br>
    <br>
  Projede Kullanılan Teknolojiler:
    Angular 14(Js,Ts,Bootstrap)
    <br>
    Google FireBase Api(NoSql)
    <br>
    Geolocation Web Api
    <br>
    Google Maps Api
  </p>
